
<app-cabecera>  </app-cabecera>

 
 <div >
   
    <ul class="list-group">
        <li class="list-group-item list-group-item-action">
           
                <div class="media-body">
                    <div cla >
                      <b><h3 class="font-size"><marquee behavior="alternate" direction="left">Menu Principal</marquee></h3></b>
                    </div>
                 </div>
          </li>

        <div class="container-port">


          <li class="">
            <a routerLink="/Juegos">
              <div class="media">
                <div class="media-left">
                      <img src="./assets/imagenes/juegos.jpg" class="media-object imagenDeMenu" >
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Juegos</h4>
                  <p>Lista de juegos , Teniendo varias opciones para poder disfrutar</p>
                </div>
              </div> 
            </a>
          </li>
  
          
          <li class="">
              <a routerLink="/Juegos/Resultados">
                <div class="media">
                    <div class="media-left">
                        <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu" >
                      </div>
                  <div class="media-body">
                    <h4 class="media-heading">Listados de resultados</h4>
                    <p>Los listados de los resultados con ordenamiento y busqueda</p>
                  </div>
                  
                </div> 
              </a>
            </li>
          
        </div>
        
       
        
      </ul>
    </div>

    <footer class="footer">
      <br>
      <p>Creado por: Rosa Muruchi</p>
      <p>Contactarse con: <a href="https://es-la.facebook.com/" target="_blank" style="color: rgb(138, 0, 126)">
              rosa.muruchilaura@gmail.com</a></p><br>
  </footer>