<div class="container">
  <div class="container-fluid" >
    <div class="card">
      <img class="img-img-top"   src="./assets/imagenes/cerebro.png" alt="Avatar" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Velocidad y agilidad aritmética </h4>
        <p class="card-text">Juego de agilidad mental</p>
        <p class="card-text-utn">UTN FRA </p>
        
        <div class="iconos-sociales">
          <a href="https://gmail.com"><img src="./assets/imagenes/iconos/correo.png" alt="correo"></a> 
          <a href="https://twitter.com/" target="_blank"><img src="./assets/imagenes/iconos/twitter.png" alt="twitter"></a> 
          <a href="https://linkedin.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/linkedin.png" alt="linkedin"></a> 
          <a href="https://www.facebook.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/facebook.png" alt="facebook"></a>
        </div>
         <br>
         <br>
        <div>
          <button type="button" class="btn btn-danger"  (click)="Juego('Agilidad')">JUGAR</button>
        </div>
      </div>
      
    </div>
  
    <div class="card">
      <img class="img-img-top" src="./assets/imagenes/ppt.png" alt="Avatar" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Elegi Piedra, Papel o Tijera</h4>
        <p class="card-text">Juega contra la máquina.</p>
        <p class="card-text-utn">UTN FRA </p>
        
        <div class="iconos-sociales">
          <a href="https://gmail.com"><img src="./assets/imagenes/iconos/correo.png" alt="correo"></a> 
          <a href="https://twitter.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/twitter.png" alt="twitter"></a> 
          <a href="https://linkedin.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/linkedin.png" alt="linkedin"></a> 
          <a href="https://www.facebook.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/facebook.png" alt="facebook"></a>
        </div>
        <br>
         <br>
        <div>
          <button type="button" class="btn btn-danger"  (click)="Juego('PPT')">JUGAR</button>
        </div>
      </div>
       
    </div>

    <div class="card">
      <img  class="img-img-top"  src="./assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Adivina el número secreto</h4>
        <p class="card-text">Juega de estrategia</p>
        <p class="card-text-utn">UTN FRA </p>
      
        <div class="iconos-sociales">
          <a href="https://gmail.com"><img src="./assets/imagenes/iconos/correo.png" alt="correo"></a> 
          <a href="https://twitter.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/twitter.png" alt="twitter"></a> 
          <a href="https://linkedin.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/linkedin.png" alt="linkedin"></a> 
          <a href="https://www.facebook.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/facebook.png" alt="facebook"></a>
        </div>
        <br>
         <br>
        <div style="text-align: center">
          <button type="button" class="btn btn-danger"  (click)="Juego('Adivina')">JUGAR</button>
        </div>
      </div>
    </div>

    <div class="card">
      <img  class="img-img-top"  src="./assets/imagenes/vasosFoto2.png" alt="Avatar" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Juego tentador</h4>
        <p class="card-text">Estas preparado para apostar?</p>
        <p class="card-text-utn">UTN FRA </p>
      
        <div class="iconos-sociales">
          <a href="https://gmail.com"><img src="./assets/imagenes/iconos/correo.png" alt="correo"></a> 
          <a href="https://twitter.com/" target="_blank"><img src="./assets/imagenes/iconos/twitter.png" alt="twitter"></a> 
          <a href="https://linkedin.com/" target="_blank"><img src="./assets/imagenes/iconos/linkedin.png" alt="linkedin"></a> 
          <a href="https://www.facebook.com/" target="_blank"><img src="./assets/imagenes/iconos/facebook.png" alt="facebook"></a>
        </div>
        <br>
         <br>
        <div style="text-align: center">
          <button type="button" class="btn btn-danger"  (click)="Juego('Memory')">JUGAR</button>
        </div>
      </div>
    </div>

    <div class="card">
      <img  class="img-img-top"  src="./assets/imagenes/anagrama.png" alt="Avatar" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Juego al ANAGRAMA </h4>
        <p class="card-text">Estas preparado para recordar?</p>
        <p class="card-text-utn">UTN FRA </p>
      
        <div class="iconos-sociales">
          <a href="https://gmail.com"><img src="./assets/imagenes/iconos/correo.png" alt="correo"></a> 
          <a href="https://twitter.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/twitter.png" alt="twitter"></a> 
          <a href="https://linkedin.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/linkedin.png" alt="linkedin"></a> 
          <a href="https://www.facebook.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/facebook.png" alt="facebook"></a>
        </div>
        <br>
         <br>
        <div style="text-align: center">
          <button type="button" class="btn btn-danger"  (click)="Juego('Anagrama')">JUGAR</button>
        </div>
      </div>
    </div>

    <div class="card">
      <img  class="img-img-top"  src="./assets/imagenes/tateti1.png" alt="Avatar" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Juego al TATETI </h4>
        <p class="card-text">Prueba este juego! No te arrepentiras</p>
        <p class="card-text-utn">UTN FRA </p>
      
        <div class="iconos-sociales">
          <a href="https://gmail.com"><img src="./assets/imagenes/iconos/correo.png" alt="correo"></a> 
          <a href="https://twitter.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/twitter.png" alt="twitter"></a> 
          <a href="https://linkedin.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/linkedin.png" alt="linkedin"></a> 
          <a href="https://www.facebook.com/usuario" target="_blank"><img src="./assets/imagenes/iconos/facebook.png" alt="facebook"></a>
        </div>
        <br>
         <br>
        <div style="text-align: center">
          <button type="button" class="btn btn-danger"  (click)="Juego('Tateti')">JUGAR</button>
        </div>
      </div>
    </div>
    

    
    
    

  </div>

</div>

  

  
  