<div class="panel panel-default">
  <header>
    <div class="hero-text">
      <h1 class="titulo">SALA DE JUEGOS</h1>
      <h2 class="name">Rosa Muruchi</h2>
      <br>
      <a href="https://github.com/rosamuruchi"target="_blank">en GitHub <i class="fa fa-github"></i></a>
      <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
          <li class="otherName"><a  routerLink="/Login" ><span class="badge badge-pill badge-light">Salir</span></a></li>
          <li class="otherName"><a routerLink="/Registro"><span class="badge badge-pill badge-light bg-light" >Registrarse</span></a></li>   
  </ul>
  </header>
  
</div>
