
 <nav class="navbar navbar-expand-lg navbarl-light bg-primary" >
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarSupportedContent" aria-expanded="true">
          <span class="navbar-toggler-icon"></span>                        
        </button>
        <a class="navbar-brand" href="./">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav">
          <li class="pad"><a href="#quien" >Quien?</a></li>
          <li class="pad"><a href="#que">Ques es?</a></li>
          <li class="pad"><a href="#donde">Donde?</a></li>
        </ul>
      </div>
    
  </nav>
  
  <!-- First Container -->
  <div name ="quien" class="container-fluid text-center">
    <h2 id="quienSoy" class="name">Quién Soy?</h2>
    <img id="quienSoyImg" src="./assets/imagenes/rosa.jpg"  style="display:inline">
    <br>
    <br>
    <h3 id="quienSoyTitle" class="nameMine">Soy Rosa Muruchi: alumna de la Utn Fra</h3>
  </div>
  
  <!-- Second Container -->
  <div name ="que" class="container-fluid bg-2 text-center">
    <h2 class="margin">Encuentra a la Pelotita</h2>
    <p class="letter">Este es un juego muy conocido y tambien comun visto por las calles mismas, apostando dinero si encuentras la pelotita, parece facil de ver y adivinas pero a veces nuestros instintos y nuestra vista fallan que perdemos y a veces no, Suerte? Podriamos decir que si y demasida! Ojala la disfrutes. </p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-file"></span> Descargar PDF
    </a>
  </div>
  
  <!-- Third Container (Grid) -->
  <div name="donde" class="container-fluid bg-3 text-center">    
    <h2 class="margin">¿Dónde Funciona?</h2><br>
    <div class="row">
      <div class="col-sm-4">
        <p class="letter">Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
        <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p class="letter">Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
        <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <p class="letter">Para los sistemas operativos lideres en el mercado del consumo masivo</p>
        <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="footer">
    <br>
    <p>Creado por: Rosa Muruchi</p>
    <p>Contactarse con: <a href="https://es-la.facebook.com/" target="_blank" style="color: rgb(8, 0, 6)">
            rosa.muruchilaura@gmail.com</a></p><br>
</footer>