@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
#navBar {
    background-color: var(--base-color);
    margin: 0;
    border: 0;
    border-bottom: .1rem solid var(--primary-color-step-900);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



.myNavbar {
    background-color: var(--secondary-color-step-900);
}

.dropdown-menu>a:hover {
    background-color: var(--primary-color-step-500);
}

.nav-link {
    color: rgb(218, 38, 179);
}

.dropdown-item {
    color: black;
}

.activeLink {
    color: var(--danger-color-step-900);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.scale-in-top {
    -webkit-animation: scale-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}
@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

th {
    color: whitesmoke;
}

h1{
    font-family: 'Alfa Slab One', cursive;
    color: black;
    font-display: auto;
    margin-left: 25%;
}